<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | Chatty</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Chatty</h1>
    <h2>Login with Email</h2>

    <form th:action="@{/send-otp}" method="post">
        <label for="email">Email Address Or Nickname</label>
        <input type="text" id="email" name="email" placeholder="you@example.com" required autocomplete="true" />

        <input type="submit" value="Send OTP">
    </form>
</div>
</body>
</html>
